
body {
    font-family: Arial, sans-serif;
}

#quiz-container {
    background: white;
    margin: 30px auto;
    text-align: center;
    width: 80%;
    border-radius: 30px;
}

#quiz-container h1 {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

#question-word {
    font-size: 30px;
    font-weight: bold;
    color: #0000ff;
    margin: 10px;
}

#quiz-container select {
    margin: 10px 40px 20px 0;
    border-radius: 5px;
}

#result {
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

button {
    margin-top: 10px;
    cursor: pointer;
}

#question-container {
    margin: 30px;
}

#answer-input {
    width: 300px;
}

#check-answer {
    margin: 10px;
    background: #bbfd91;
    padding: 10px;
    border: 1px solid #45a049;
    border-radius: 20px;
    cursor: pointer;
}

#next-question {
    margin: 20px;
    margin-top: 60px;
    background: #f79c4e;
    padding: 3px 15px;
    border: 1px solid #b10000;
    border-radius: 5px;
    cursor: pointer;
}

/* CSS for the button */
.audio-button {
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}
.audio-button:hover {
    background-color: #45a049;
}
#word-display {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* クイズ表示形式変更スイッチ */
.switch-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#order-switch {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    transition: background 0.3s;
    cursor: pointer;
}

#order-switch:checked {
    background: #4caf50;
}

#order-switch:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background: white;
    transition: 0.3s;
}

#order-switch:checked:before {
    transform: translateX(20px);
}



/* スマホ画面 */
@media (max-width: 480px) {

    #answer-input {
        width: 90%;
    }
    #check-answer {
        margin-top: 30px;
    }
    
}